
body{
    background-image: url('../imagenes/fondo.png');
    margin: 0px;
    padding: 0px;
    font-family: $font-family;
}
/* se lo puse para la entrega de github*/
.titulo-h2{
    text-align: center;
    font-size: 40px;
    text-shadow: 3px 5px 5px $terciario-color;
    animation: saltar 2s infinite;
    -webkit-animation: saltar 2s infinite;
}
@keyframes saltar{
    to{
        transform: translatey(10px);
        -webkit-transform: translatey(10px);
        -moz-transform: translatey(10px);
        -ms-transform: translatey(10px);
        -o-transform: translatey(10px);
    }
    0%{
        transform: translatey(0);
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -ms-transform: translatey(0);
        -o-transform: translatey(0);
    }
    10%{
        transform: translatey(-10px);
        -webkit-transform: translatey(-10px);
        -moz-transform: translatey(-10px);
        -ms-transform: translatey(-10px);
        -o-transform: translatey(-10px);
    }
}