footer{
    background-color: $primario-color;
    color: $secundario-color;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        color: $secundario-color;
        text-decoration: none;
    }
    .facebook1:hover{
        color: rgb(40, 40, 255);
    }
    .twitter1:hover{
        color: rgb(22, 140, 209);
    }
    .github1:hover{
        color: burlywood;
    }
    .facebook{
        margin-right: 27px;
        font-size: 30px;
    }
    .Logo2:hover{
        padding: 1px;
    }
}

/*Especificar posicion de medida de footer*/
@media  screen and (max-width: 690px){
    h4{
        display: none;
    }            
}