
.galeria1{
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    &:hover{
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
    }
}
