@mixin responsive {
    @media screen and (min-width: 768px){
        .grilla {
            display: grid;
            grid-gap: 10px;
            height: 100%;
            grid-template-areas: 
            "header"
            "article"
            "aside"
            "footer"
            ;
        }
    }
}
