.contenedor3{
    @extend .parrafo;
    height: 100%;
    &{
        background-image: url(.../imagenes/papel.jpg);
        background-position: center;
    }
    border-style: solid;
    border-color: $primario-color;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-width: 8px;
    .formulario{
        text-align: center;
        height: 100%;
        width: 80%;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        border-color: $primario-color;
        form{
            font-size: 100%;
        }
    }
    .mapa{
        width: 100%;
        height: 450px;
        .mapa1{
            width: 100%;
            height: 100%;
        }
    }
}


/*width="600" height="450"*/





