
.catering{
    @extend .parrafo;
    margin: 0px 10px 10px 7px;
    .entrada1{
        font-size: 26px;
    }
    .entrada{
        width: 200px;
    }
}
/*Especificar posicion de medida de menu*/
@media screen and (max-width: 768px){
    iframe{
        width: 100%;
        height: 100%;
    }
}
